*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 10;
    margin-top: 10px;
    background-color: #F7F7F7;
}
img {
    max-width: 100%;
}
a,
a:hover {
    text-decoration:none;
}

ul {
    list-style: none;
}
.main-body{
    margin: 10;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: #F7F7F7;
}
/* this is header section */
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;

}
.header-left h1{
    font-size: 40px;
    color: #19699F;
}
.header-left h2{
    font-size: 20px;
    color: #C8C8C8;
}
.header-right ul{
    display:flex;
}

.header-right ul li{
    padding: 0 10px;
}
/* this is nav section */
.navbar{
    font-size: 20px;
    background-color: #19699f;
    color: #C8C8C8;
}
.navbar ul{
    display: flex;
    padding: 5px 30px;
}
.navbar ul a{
    color: #D1E1EC;
    padding: 7px 20px;
    border-left: 1px solid gainsboro;
    
}
#one a{
    border-left: none;
}
/* this is profile summary section */
.profile{
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr ;
    justify-content: space-between;
    background-color: #D1E1EC;
    padding: 20px 40px;
}
.profile-left{
    display: flex;
    grid-template-columns: 1fr 1fr ;
    gap: 40px;
}
.profile-right a{
     padding: 10px 20px;
    background-color: darkgray;
}
/* this is annother navbar section */
.navbar-next{
    font-size: 20px;
    background-color:#19699f;


}
.navbar-next ul{
     display: flex;
     padding: 5px 30px;
}
.navbar-next ul a{
    padding: 5px 12px;
    border-left: 1px solid gainsboro;
    color: #D1E1EC;
}
.locked-jobs{
    padding: 10px 20px;
    font-size: 15px;
    background-color:#E7E7E6;
}   
.available{
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 20px;
}
.right span{
    padding: 3px 10px;
    border: 1px solid black;
    text-align: left;
}
/* short section */
.short{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: auto;
}
.short-center{
    margin: auto;
    padding: 5px 20px;
    border: 1px solid #cfcfc7;
}
.short-center ul {
    display: flex;
}
.short-center ul a{
    padding: 5px 20px;
}
.category{
    display: flex;
}
.category ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    
}
.category ul a{
    border: 1px solid #cfcfc7;
    margin:5px;
    padding: 5px 5px;
    display: inline-block;
}
.job-list{
width: 100%;
display: flex;
}

.job-list table{
    width: 100%;
    margin: 10px;
    text-align: center;
    margin-bottom: 2px solid black;
}
.job-list table tr{
}
.list-ending{
    border-top: 1px solid black;
    padding: 0px 10px 10px 10px;
}
.footer{
    background-color: #E7E7E6;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.footer nav ul li {
    display:inline-block;

}
.footer nav ul a{
    padding: 5px 5px;
}
.footer p{
    text-align: center;
}