*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 10;
    margin-top: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-color: #ddd;
}
img {
    max-width: 100%;
}
a,
a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}
/* this is header section */
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: #fff;

}
.header-left h1{
    font-size: 40px;
    color: #19699F;
}
.header-left h2{
    font-size: 20px;
    color: #C8C8C8;
}
.header-right ul{
    display:flex;
}

.header-right ul li{
    padding: 0 10px;
}
/* this is nav section */
.navbar{
    font-size: 20px;
    background-color: #19699f;
    color: #C8C8C8;
}
.navbar ul{
    display: flex;
    padding: 5px 30px;
}
.navbar ul a{
    color: #D1E1EC;
    padding: 7px 20px;
    border-left: 1px solid gainsboro;
    
}
#one a{
    border-left: none;
}
/* this is profile summary section */
.profile{
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr ;
    justify-content: space-between;
    background-color: #D1E1EC;
    padding: 20px 40px;
}
.profile-left{
    display: flex;
    grid-template-columns: 1fr 1fr ;
    gap: 40px;
}
.profile-right a{
     padding: 10px 20px;
    background-color: darkgray;
}
/* this is annother navbar section */
.navbar-next{
    font-size: 20px;
    background-color:#19699f;


}
.navbar-next ul{
     display: flex;
     padding: 5px 30px;
}
.navbar-next ul a{
    padding: 5px 12px;
    border-left: 1px solid gainsboro;
    color: #D1E1EC;
}
.locked-jobs{
    padding: 10px 20px;
    font-size: 15px;
    background-color: #F7F7F7;
}   
.available{
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 20px;
}
.right span{
    padding: 3px 10px;
    border: 1px solid black;
    text-align: left;
}
/* short section */
.short{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: auto;
}
.short-center ul {
    display: flex;
    /* justify-content:center; */
    /* align-items: center; */
    margin: auto;

}
.category{
    display: flex;
}
.category ul {
    display: flex;
    padding: 10px;
    
}
.category ul a{
    padding: 10px;
}